$main_brand: #d3884a;
$main_brand_light: #dba980;
$light_shade: #f7f6f3;
$light_shade_transparent: hsla(45, 18%, 96%, 0.15);
$dark_shade: #29303c;
$text: #464747;
$light_accent: #95938a;
$light_accent_transparent: #95938a1e;
$dark_accent: #c34249;
$white-color: #ffffff;
$white-bg: #fbfbfb;
$shadow: 0px 1px 2px 0px rgba(41, 48, 60, 0.2);
$shadow-box: 0px 1px 3px 1px rgba(41, 48, 60, 0.2);
$shadow-subtle: 0px 0px 2px 1px rgba(0, 0, 0, 0.062);
$shadow-red: 0px 0px 2px 1px #c3424827;
$shadow-soft: 0px 0px 6px 2px rgba(0, 0, 0, 0.075);
$shadow-color: rgba(2, 3, 5, 0.2);
$shadow-inset: inset 0px 0px 4px 2px #29303c25;

$font: "Nunito", sans-serif;

$br-small: 8px;
$br-medium: 16px;
$br-large: 1.25rem;

$color-1: #617acc;

$color-2: #61cc98;

$color-3: #cc8c61;

$color-4: #cc617a;
